[Desktop Entry]
Name=Changelogs
Description=Zeige die Changelogs von freiOS
Exec=sh -c "ujust changelogs | less - && exit"
Terminal=true
Icon=freios-changelogs
Categories=freiOS
Type=Application