[Desktop Entry]
Name=Changelogs
Description=Zeige die Changelogs von freiOS
Exec=sh -c "ujust changelogs | less - && exit"
Terminal=true
Icon=/usr/share/ublue-os/icon.svg
Categories=freiOS
Type=Application