[Desktop Entry]
Name=Entwickler kontaktieren
Description=Kontaktiere die Entwickler von freiOS
Exec=xdg-open mailto:support@koyu.space
Terminal=false
Icon=freios-mail
Categories=freiOS
Type=Application