[Desktop Entry]
Name=Update
Description=Installiere Updates für freiOS
Exec=sh -c "ujust update && exit"
Terminal=true
Icon=freios-updater
Categories=freiOS
Type=Application