[Desktop Entry]
Name=Website
Description=Öffne die Website von freiOS
Exec=xdg-open https://freios.koyu.space
Icon=freios-website
Categories=freiOS
Type=Application