[Unit]
Description=Setup Guest User dotfiles
After=local-fs.target
ConditionHost=ContainerTestUblueOS
ConditionVirtualization=yes
ConditionPathExists=/var/home/freios
ConditionPathExists=!/run/ostree-booted
ConditionPathExists=!/var/home/freios/.%N.stamp

[Service]
User=freios
Type=oneshot
ExecStart=/usr/bin/cp -r /etc/skel/.* /var/home/freios/
ExecStart=/usr/bin/touch /var/home/freios/.%N.stamp
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target default.target
